# File Exploration

In this notebook I'll explore the other files given in the competition. I don't know if they are gonna be useful, so let's check them out!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob
import sys
import seaborn as sns
import matplotlib as mpl

mpl.rcParams['figure.figsize'] = (10,8)
plt.style.use('fivethirtyeight')

%matplotlib inline

In [2]:
os.getcwd()

'C:\\Users\\hugo_\\OneDrive\\Documentos\\DataScience\\Repos\\kaggle_credit_risk\\notebooks'

In [6]:
DATA_PATH = 'C:\\Users\\hugo_\\OneDrive\\Documentos\\DataScience\\Repos\\kaggle_credit_risk\\data\\raw\\'

In [7]:
files = glob.glob(DATA_PATH + "/*.csv")

dfs = []
for filename in files:
    file = filename.split('/')[-1]#.split('.')[0]
    print(file)

C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\application_test.csv
C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\application_train.csv
C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\bureau.csv
C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\bureau_balance.csv
C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\credit_card_balance.csv
C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\HomeCredit_columns_description.csv
C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\installments_payments.csv
C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\POS_CASH_balance.csv
C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\previous_application.csv
C:\Users\hugo_\OneDrive\Documentos\DataScience\Repos\kaggle_credit_risk\data\raw\sample_submission.csv

There are a few csvs to look into. 

- bureau.csv
- installments_payments.csv
- previous_application.csv
- POS_CASH_balance.csv
- bureau_balance.csv
- credit_card_balance.csv

Let's start with installments_payments.

# installments_payments.csv

In this dataset we have informations about the installments, such as the number of installments, the amount, and the days in which they suposed to be paid. We can extract some good features regarding delays on payments.

In [8]:
inst_pay = pd.read_csv(DATA_PATH + 'installments_payments.csv')

In [9]:
print('Shape of installments_payments: ' + str(inst_pay.shape))

Shape of installments_payments: (13605401, 8)

In [10]:
inst_pay.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [11]:
inst_pay['PAYMENT_DELAY'] = inst_pay['DAYS_INSTALMENT'] - inst_pay['DAYS_ENTRY_PAYMENT']
inst_pay['OVERPAY'] = inst_pay['AMT_INSTALMENT'] - inst_pay['AMT_PAYMENT']

Great! So now let's check how many SD_ID_CURR are repeated in the dataframe.

In [12]:
inst_pay.SK_ID_CURR.value_counts()

145728    372
296205    350
453103    347
189699    344
186851    337
172690    336
418081    332
192083    324
434807    323
217360    318
179215    318
209362    318
380048    317
111137    315
110917    314
422431    313
388717    313
423106    313
382563    312
420239    312
296364    312
288010    311
296729    311
343828    311
410581    310
422662    309
226002    308
363736    306
133713    305
377714    305
         ...
445528      1
181936      1
109847      1
202223      1
136659      1
191870      1
411181      1
120233      1
365861      1
312953      1
181933      1
402994      1
185615      1
312943      1
249547      1
296860      1
120166      1
183517      1
210233      1
313244      1
189293      1
433263      1
344716      1
247672      1
224970      1
124614      1
248825      1
196631      1
197712      1
438442      1
Name: SK_ID_CURR, Length: 339587, dtype: int64

There is a lot of repeated values. Let's summarize them by using means.

In [13]:
inst_pay = inst_pay.groupby('SK_ID_CURR')[['PAYMENT_DELAY', 'OVERPAY']].mean().reset_index()

## Let's try to merge this information into our main train/test file.

In [14]:
train = pd.read_csv(DATA_PATH + 'application_train.csv')
test = pd.read_csv(DATA_PATH + 'application_test.csv')

In [15]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In order to avoid memory blowout, I'm gonna just merge by SK_ID_CURR

In [16]:
train = train.merge(inst_pay, how = 'left', on = ['SK_ID_CURR'])
test = test.merge(inst_pay, how = 'left', on = ['SK_ID_CURR'])

In [17]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,PAYMENT_DELAY,OVERPAY
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,20.421053,0.000000
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,7.160000,0.000000
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,7.666667,0.000000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,19.375000,0.000000
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,3.636364,452.384318

In [18]:
print('Missings in train PAYMENT_DELAY: ' + str(train.PAYMENT_DELAY.isnull().sum()))
print('Missings in train OVERPAY: ' +str(train.OVERPAY.isnull().sum()))

Missings in train PAYMENT_DELAY: 15876
Missings in train OVERPAY: 15876

In [19]:
print('Missings in test PAYMENT_DELAY: ' + str(test.PAYMENT_DELAY.isnull().sum()))
print('Missings in test OVERPAY: ' +str(test.OVERPAY.isnull().sum()))

Missings in test PAYMENT_DELAY: 801
Missings in test OVERPAY: 801

# POS_CASH_balance.csv

In [20]:
pos_cash = pd.read_csv(DATA_PATH + 'POS_CASH_balance.csv')

In [21]:
print('Shape: ' + str(pos_cash.shape))
pos_cash.head()

Shape: (10001358, 8)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [22]:
pos_cash = pos_cash.groupby('SK_ID_CURR')[['CNT_INSTALMENT', 'CNT_INSTALMENT_FUTURE']].mean().reset_index()

In [23]:
train = train.merge(pos_cash, how = 'left', on = ['SK_ID_CURR'])
test = test.merge(pos_cash, how = 'left', on = ['SK_ID_CURR'])

In [24]:
print('Missings in train CNT_INSTALMENT: ' + str(train.CNT_INSTALMENT.isnull().sum()))
print('Missings in train CNT_INSTALMENT_FUTURE: ' +str(train.CNT_INSTALMENT_FUTURE.isnull().sum()))

Missings in train CNT_INSTALMENT: 18091
Missings in train CNT_INSTALMENT_FUTURE: 18091

In [25]:
print('Missings in test CNT_INSTALMENT: ' + str(test.CNT_INSTALMENT.isnull().sum()))
print('Missings in test CNT_INSTALMENT_FUTURE: ' +str(test.CNT_INSTALMENT_FUTURE.isnull().sum()))

Missings in test CNT_INSTALMENT: 940
Missings in test CNT_INSTALMENT_FUTURE: 940

In [26]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,PAYMENT_DELAY,OVERPAY,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,1.0,20.421053,0.000000,24.000000,15.000000
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,7.160000,0.000000,10.107143,5.785714
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.666667,0.000000,3.750000,2.250000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,19.375000,0.000000,12.000000,8.650000
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,3.636364,452.384318,15.333333,8.969697

Let's just clean some space in the kernel.

In [27]:
del pos_cash, inst_pay

# credit_card_balance.csv

In [28]:
cc_bal = pd.read_csv(DATA_PATH + 'credit_card_balance.csv')

In [29]:
print(cc_bal.shape)
cc_bal.head()

(3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [30]:
cc_bal = cc_bal.groupby('SK_ID_CURR').mean().drop('SK_ID_PREV',axis=1).reset_index()

In [31]:
train = train.merge(cc_bal, how = 'left', on = ['SK_ID_CURR'])
test = test.merge(cc_bal, how = 'left', on = ['SK_ID_CURR'])

In [32]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
print('Missings in train CNT_INSTALMENT: ' + str(train.AMT_RECEIVABLE_PRINCIPAL.isnull().sum()))
print('Missings in train CNT_INSTALMENT_FUTURE: ' +str(train.AMT_RECEIVABLE_PRINCIPAL.isnull().sum()))

Missings in train CNT_INSTALMENT: 220606
Missings in train CNT_INSTALMENT_FUTURE: 220606

It seems like there is a lot of missing data in those variables. It maybe not a good idea to use them in training.

# Saving data

In [34]:
train.to_csv(DATA_PATH + '..\\treated\\train.csv')
test.to_csv(DATA_PATH + '..\\treated\\test.csv')